 strong{
             background-color: blue;
             color:white;
            }
            a{background-color: yellow;}
            .bigger{font-size:25px;}
            #Description{text-decoration:underline;}